.container {
    margin-top: 15px;
    padding-top: 15px;
    background: rgb(75, 56, 98);
    background: linear-gradient(90deg, rgba(75, 56, 98, 1) 0%, rgba(212, 91, 120, 1) 69%);
    max-width: 2000px;
    margin: 0 auto;
}

@media (min-width: 700px) {
    .container {
        margin: 0 auto;
    }
}

@media (max-width: 1380px) {
    .callmar {
        width: 693px;
    }
}

@media (max-width: 700px) {
    .callmar {
        width: 600px;
    }
}






.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

@media (max-width: 1380px) {
    .navbar {
        gap: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


ul,
ol {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    margin-right: 200px;
}

.img_calmar {
    /* margin-left: 20px; */
    padding: 40px 110px;
    width: 90px;
}

.btn {
    width: 184px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}

.btn:active {
    box-shadow: 3px 3px 3px #ffffff46;
    font-size: 16px;
}

.center {
    color: #fff;
    font-family: sans-serif;
}

.title {
    font-size: 64px;
    max-width: 828px;
}

@media (max-width: 1380px) {
    .title {
        font-size: 45px;
        width: 578px;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 37px;
    }
}

.description {
    font-size: 24px;
    max-width: 961px;
}

@media (max-width: 1380px) {
    .description {
        font-size: 15px;
        width: 641px;
    }
}

@media (max-width: 700px) {
    .description {
        font-size: 9px;
        width: 441px;
    }
}


.btn_2 {
    width: 362px;
    height: 75px;
    font-size: 36px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    background-color: #D75C78;
    color: #fff;
    border: #D75C78;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn_2:active {
    font-size: 33px;
    background-color: #da4b6c;
}

@media (max-width: 1380px) {
    .btn_2 {
        font-size: 30px;
        width: 302px;
        height: 60px;
    }
}

@media (max-width: 700px) {
    .btn_2 {
        font-size: 20px;
        width: 252px;
        height: 45px;
    }
}