.container_footer {
    padding-top: 200px;
    max-width: 2000px;
    margin: 0 auto;
    background-image: url(../../assets/Rectangle\ 38\ \(2\).png);
}

@media (max-width: 1380px) {
    .container_footer {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    }
  }

.tariff1 {
    h1 {
        font-size: 45px;
    }

    p {
        font-size: 16px;
    }

    margin-left: 200px;
    background-image: url(../../assets/Фон2\ 1.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-size: cover;
    margin-top: 160px;
    width: 580px;
    height: 600px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}


.all_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-image: url(../../assets/подлодка\ 1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: top right;
}

.all_footer_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-image: url(../../assets/Group\ 154.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom  left;
}

@media (max-width: 1380px) {
    .all_footer_2 {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-size: 50%;
     background-position: left center;
     margin-left: 100px;
    }
  }
.tariff2 {
    h1 {
        font-size: 45px;
    }

    p {
        font-size: 16px;
    }
    @media (max-width: 1380px) {
        .tariff2 {
         margin-left: 100px;
        }
      }

    margin-right: 200px;
    background-image: url(../../assets/Фон2\ 1.png);
    background-size: 99%;
    margin-top: 100px;
    width: 580px;
    height: 600px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.button1 {
    width: 360px;
    height: 75px;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.button1:active {
    box-shadow: 3px 3px 3px #ffffff46;
    font-size: 38px;
}
.end{
    height: 430px;
    background-image: url(../../assets/Фон\ 1.png);
}